.headerColumn{
    padding-top:2vh;
    padding-bottom:1vh;
}

textarea{
    margin-top:1vh;
}
.btnClose{
    font-size:2vw;
}

.bodyRow{
    margin-top:2vh;
}

.typeRow{
    align-items: center;
    margin-top:2vh;
}