.circle {
    width: 4em;
    height: 3.9em;
    line-height: 3.8em;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    text-align: center;
    background: #36454F;
    margin-top: 4em;
}

.circle p {
    font-size: 3rem;
}

// .container{
//     padding-top:10vh;
// }

.fullName {
    padding-top: 3vh;
    
    text-align: center;
    // padding-left: 6vw;
    font-size: 1.1vw;
}

// .nav {
//     padding-left: 5vw;
// }

.nav-tabs .nav-item .nav-link {
    background-color: transparent;
    color: white;
}

.nav-tabs .nav-item .nav-link.active {
    color: #4285F4;
}

h5{
    font-size: 1.25rem;
}

.content{
    display: flex;
    justify-content: center;
}