<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="circle">
                    <p>{{photo}}</p>
                </div>
            </div>
            <p class="fw-bold fullName text-white">{{firstName}} {{lastName}}</p>
            <hr class="text-white">
            <div class=" content">
                <ul class="nav  nav-tabs flex-column border-0">
                    <li class="nav-item">
                        <a routerLink="edit-profile" class="nav-link align-middle border-0" routerLinkActive="active">
                            <h5>Profile</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/container" class="nav-link  align-middle border-0" routerLinkActive="active">
                            <h5>Photo</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/layers" class="nav-link align-middle border-0 " routerLinkActive="active">
                            <h5>Account Security</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/logs" class="nav-link align-middle border-0 " routerLinkActive="active">
                            <h5></h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>