* {
    z-index: 0;
    user-select: none;
}

.container-fluid {
    background: linear-gradient(0.375turn, #121212, #301934, #290916);
}

h1 {
    font-size: 7vh;
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.subText {
    padding-bottom: 4vh;
}

.row h6 {
    font-size: 2.2vh;
}

.subText h6 {
    font-size: 2.2vh;
}

.buttons {
    padding-top: 7vh;
}

.btn {
    height: 6vh;
    width: 10vw;
    background-color: #232b2b;
}

.btn:hover {
    background: linear-gradient(0.25turn, #4169e1, #710193);
}


@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
 background: $bcolor;
 -webkit-mask: url($url);
 mask: url($url);
 -webkit-mask-size: $x1 $y1;
 mask-size: $x1 $y1;
 border: $bor;
 color: $col;
}

