* {
    z-index: 0;
    user-select: none;
}

.container-fluid {
    background: linear-gradient(0.375turn, #121212, #301934, #290916);
    min-height: 100vh;
}

h1 {
    font-size: 3.5rem;
    padding-top: 2em;
    // padding-bottom: 4vh;
}

.subText {
    padding-top:1em;
    padding-bottom:1em;
}

.subText h5{
    font-size:1.5em;
}

.subText h6 {
    font-size: 1em;
}
.row h6 {
    font-size: 0.9rem;
}

.buttons {
    padding-top: 2em;
}

.btn {
    // height: 100%;
    // width: 100%;
    padding:0.5em 2em;
    background-color: #232b2b;
}

.btn:hover {
    background: linear-gradient(0.25turn, #4169e1, #710193);
}


// @mixin button($bcolor,
// $url,
// $x1,
// $y1,
// $bor,
// $col) {
//  background: $bcolor;
//  -webkit-mask: url($url);
//  mask: url($url);
//  -webkit-mask-size: $x1 $y1;
//  mask-size: $x1 $y1;
//  border: $bor;
//  color: $col;
// }

