<app-header></app-header>

<div class="container-fluid" style="height: calc(100vh - 58px);">
    <div class="container ">
        <div class="row text-white text-center">
            <!-- <h1>Work faster, easier, organized with our help.</h1>
             -->
             <h1>{{"HOME.TITLE"|translate}}</h1>
            <div class="subText">
                <h5>You and your team can handle any problem easily if you are ogranized.</h5>
                <!-- picture here -->
                <h6>Stay organized anywhere. Cancel anytime.</h6>
            </div>
            <h6>Ready to work? Let's get started! Pick how you want to start (Single/Team).</h6>

            <div class="d-flex buttons  justify-content-center">
                <button class="btn shadow-lg border-0 text-white rounded-5 me-2"><i class="bi bi-person"></i> Single</button>
                <button class="btn shadow-lg border-0 text-white rounded-5 mx-2"><i class="bi bi-people"></i> Team</button>
            </div>
        </div>
    </div>
</div>