.container-fluid {
    background: linear-gradient(0.375turn, #121212, #301934, #290916);
}

h4{
    text-align: center;
    padding-top: 5vh;
    padding-bottom:3vh;
    font-size:1.5vw;
}
p{
    padding-left:24vw;
    font-size:1.1vw;
}
.formRow{
    padding-top:5vh;
}
.input-group{
    padding-left: 8vw;
    padding-top:3vh;
    width:55vw;
}


input[type=text] {
    font-size: 1vw;
}

.board{
    margin-top:2vh;
}

.tableColumn{
    text-align: center;
}