<div class="container-fluid">
    <div class="row">
        <div class="whiteBackground bg-white ">
            <img class="imageLogo bg-white" src="../../assets/images/SignUp.png" alt="TaskBoard logo">
            <div class="d-flex justify-content-around">
                <div class="col-10">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input autofocus type="text" class="form-control" formControlName="firstName"
                                    placeholder="First name">
                            </div>
                            <div *ngIf="form.get('firstName')?.hasError('required')     && form.get('firstName')?.touched"
                                class="errors text-danger">
                                The field is required!
                            </div>

                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="lastName"
                                    placeholder="Last name">
                            </div>
                            <div *ngIf="form.get('firstName')?.hasError('required')     && form.get('firstName')?.touched"
                                class="errors text-danger">
                                The field is required!
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div *ngIf="form.get('email')?.hasError('required')     && form.get('email')?.touched"
                                class="errors text-danger">
                                The field is required!
                            </div>
                            <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched"
                                class="errors text-danger">
                                Invalid email
                            </div>

                            <div class="input-group ">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password">
                            </div>
                            <div *ngIf="form.get('password')?.hasError('required')     && form.get('password')?.touched"
                                class="errors text-danger">
                                The field is required!
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-1 justify-content-around">
                <div class="col-10 d-flex justify-content-end">
                    <button autofocus class="btn btn-primary" (click)="signUp()">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>